<page-header />
<div nz-row [nzGutter]="24">
  <div nz-col nzSpan="8">
    <graph-valor-inventario />
  </div>
  <div nz-col nzSpan="16"></div>
  <div nz-col nzSpan="12">
    <nz-card>
      <graph-total-productos-por-tipo />
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card>
      <graph-productos-por-marca />
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card [nzTitle]="'charts.servicios_realizados.title' | i18n">
      <graph-servicios-realizados />
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card [nzTitle]="'charts.performance_services_products.title' | i18n">
      <graph-performance-services-products />
    </nz-card>
  </div>
  <div nz-col nzSpan="8">
    <nz-card [nzTitle]="'charts.most_performed_services.title' | i18n">
      <graph-most-performed-services />
    </nz-card>
  </div>
  <div nz-col nzSpan="8">
    <nz-card [nzTitle]="'charts.lotes_cerca_de_expirar.title' | i18n">
      <graph-lotes-cerca-de-expirar />
    </nz-card>
  </div>
  <div nz-col nzSpan="8">
    <nz-card [nzTitle]="'charts.productos_mas_utilizados.title' | i18n">
      <graph-productos-mas-utilizados />
    </nz-card>
  </div>
</div>
